@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700&display=swap&subset=cyrillic');

body {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
}

.navbar-time {
    margin-left: 150px;
}